- if @thing.priority
  %p
    = t("titles.priority_html", :thing_title  => t("defaults.thing").titlecase, :thing => t("defaults.thing"))
- elsif @thing.system_use_code == 'MS4'
  %p
    %a{href: "http://adopt-a-drain.infascination.com", target: '_blank'}
      = t("links.special", :thing => t("defaults.thing"))
